{% extends "base.html" %}
{% block title %}New Alumni Form{% endblock %}
{% block content %}
<body>
    <h1>Alumni Form</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ form.alumniID.label }} {{ form.alumniID(class='form-control') }}
        <p>{{ form.fName.label }} {{ form.fName }}</p>
        <p>{{ form.lName.label }} {{ form.lName }}</p>
        <p>{{ form.phone.label }} {{ form.phone }}</p>
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p>{{ form.DOB.label }} {{ form.DOB }}</p>
        <p>{{ form.gender.label }} {{ form.gender }}</p>
        <p>{{ form.ethnicity.label }} {{ form.ethnicity }}</p>
        <p>{{ form.website.label }} {{ form.website }}</p>
        <p>{{ form.linkedIn_link.label }} {{ form.linkedIn_link }}</p>
        <p>{{ form.twitter_link.label }} {{ form.twitter_link }}</p>
        <p>{{ form.facebook_link.label }} {{ form.facebook_link }}</p>
        <p>{{ form.instagram_link.label }} {{ form.instagram_link }}</p>
        <p>{{ form.guestSpeakerYN.label }} {{ form.guestSpeakerYN }}</p>
        <p>{{ form.newsLetterYN.label }} {{ form.newsLetterYN }}</p>
        <p>{{ form.imageThumb.label }} {{ form.imageThumb }}</p>
        <p>{{ form.imageNormal.label }} {{ form.imageNormal }}</p>
        <p>{{ form.description.label }} {{ form.description }}</p>
        <p>{{ form.deceasedYN.label }} {{ form.deceasedYN }}</p>
        <p>{{ form.deceasedDT.label }} {{ form.deceasedDT }}</p>
        <p>{{ form.deceasedNotes.label }} {{ form.deceasedNotes }}</p>
        <button type="submit">Submit</button>
    </form>
</body>


{% endblock %}

