{% extends "base.html" %}
{% block title %}Alumni List{% endblock %}

{% block content %}
<div class="container mt-5">
    <script src="../static/alumni_list.js"></script>
    <h2>Alumni List</h2>
    <form method="POST" action="{{ url_for('views.alumni_list') }}" class="mb-3">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-3">
                {{ form.search_type.label }} {{ form.search_type(class='form-control') }}
            </div>
            <div class="col-md-6">
                {{ form.search_term.label }} {{ form.search_term(class='form-control') }}
            </div>
            <div class="col-md-3">
                {{ form.submit(class='btn btn-primary mt-4') }}
            </div>
        </div>
    </form>
    <div class="text-center mb-3">
        <a href="{{ url_for('views.add_alumni') }}" class="btn btn-success">Add Alumni</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Alumni ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
              
            </tr>
        </thead>
        <tbody>
            {% if alumni %}
                {% for alum in alumni %}
                    <tr>
                        <td><a href="{{ url_for('views.alumni_profile', id=alum.alumniID) }}">{{ alum.alumniID }}</td>
                        <td><a href="{{ url_for('views.alumni_profile', id=alum.alumniID) }}">{{ alum.fName }}</td>
                        <td><a href="{{ url_for('views.alumni_profile', id=alum.alumniID) }}">{{ alum.lName }}</td>
                        <td>{{ alum.email }}</td>
                        <td>{{ alum.phone }}</td>
                        
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No alumni found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <script src="../static/alumni_list.js"></script>
</div>
{% endblock %}

