{% extends "base.html" %}
{% block title %}Alumni Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{ alumni.fName }} {{ alumni.lName }}</h2>
    <p><strong>Alumni ID</strong> {{ alumni.alumniID }}</p>
    <p><strong>Email:</strong> {{ alumni.email }}</p>
    <p><strong>Phone:</strong> {{ alumni.phone }}</p>
    <p><strong>Date of Birth:</strong> {{ alumni.DOB }}</p>
    <p><strong>Gender:</strong> {{ alumni.gender }}</p>
    <p><strong>Ethnicity:</strong> {{ alumni.ethnicity }}</p>
    <p><strong>Website:</strong> <a href="{{ alumni.website }}" target="_blank">{{ alumni.website }}</a></p>
    <p><strong>LinkedIn:</strong> <a href="{{ alumni.linkedIn_link }}" target="_blank">{{ alumni.linkedIn_link }}</a></p>
    <p><strong>Twitter:</strong> <a href="{{ alumni.twitter_link }}" target="_blank">{{ alumni.twitter_link }}</a></p>
    <p><strong>Facebook:</strong> <a href="{{ alumni.facebook_link }}" target="_blank">{{ alumni.facebook_link }}</a></p>
    <p><strong>Instagram:</strong> <a href="{{ alumni.instagram_link }}" target="_blank">{{ alumni.instagram_link }}</a></p>
    <p><strong>Description:</strong> {{ alumni.description }}</p>

    <h3 class="mt-4">Actions</h3>
    <a href="{{ url_for('views.alumni_update', id=alumni.alumniID) }}" class="btn btn-warning">Edit Alumni</a>
    <form method="POST" action="{{ url_for('views.alumni_delete', id=alumni.alumniID) }}" style="display:inline;">
        <button type="submit" class="btn btn-danger">Delete Alumni</button>
    </form>
    <h3 class="mt-4">Related Information</h3>
    <a href="{{ url_for('views.view_addresses',alumni_id=alumni.alumniID) }}" class="btn btn-primary">View Addresses</a>
    <a href="{{ url_for('views.view_employment', alumni_id=alumni.alumniID) }}" class="btn btn-primary">View Employment</a>
    <a href="{{ url_for('views.view_degrees', alumni_id=alumni.alumniID) }}" class="btn btn-primary">View Degrees</a>
</div>
{% endblock %}

