{% extends "base.html" %}
{% block title %}Update Degree{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Update Degree</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.degree_type.label }} {{ form.degree_type(class='form-control') }}
        {{ form.field_of_study.label }} {{ form.field_of_study(class='form-control') }}
        {{ form.institution.label }} {{ form.institution(class='form-control') }}
        {{ form.graduation_year.label }} {{ form.graduation_year(class='form-control') }}
        <button type="submit" class="btn btn-primary mt-3">Update Degree</button>
    </form>
</div>
{% endblock %}
