{% extends "base.html" %}
{% block title %}Home{% endblock %}



{% block content %}
<div class="container mt-5">
    <h2>Welcome, {{ user.fName }} {{ user.lName }}</h2>
    <p>You have {{ user.role }} privileges.</p>
    <p><strong>Job Description:</strong> {{ user.jobDescription }}</p>

    <h3>Your Privileges</h3>
    <ul>
        <li>View: {{ 'Yes' if user.viewPriveledgeYN == 'Y' else 'No' }}</li>
        <li>Insert: {{ 'Yes' if user.insertPriveledgeYN == 'Y' else 'No' }}</li>
        <li>Update: {{ 'Yes' if user.updatePriveledgeYN == 'Y' else 'No' }}</li>
        <li>Delete: {{ 'Yes' if user.deletePriveledgeYN == 'Y' else 'No' }}</li>
    </ul>
</div>
{% endblock %}

