<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    <p>Kennesaw State University Department of Information Systems and Security Alumni Management System</p>
    <p>KSU Logo</p>
    <p>Test Users</p>
    <p>Admin User ID: 0123456789 Admin Password:password123</p>
    <p>Admin User ID: 1123456789 Admin Password:password124</p>
    <div class="login-container">
        <form method="POST">
            <h3>Login</h3>
            <div class="form-group">
                <label for="UID">User ID</label>
                <input type="text" class="form-control" id="UID" name="UID" placeholder="Enter User ID">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
     
    </div>
</body>
</html>