{% extends "base.html" %}
{% block title %}Update Address{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Update Address</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.address.label }} {{ form.address(class='form-control') }}
        {{ form.city.label }} {{ form.city(class='form-control') }}
        {{ form.state.label }} {{ form.state(class='form-control') }}
        {{ form.zipCode.label }} {{ form.zipCode(class='form-control') }}
        {{ form.activeYN.label }} {{ form.activeYN(class='form-control') }}
        {{ form.primaryYN.label }} {{ form.primaryYN(class='form-control') }}
        <button type="submit" class="btn btn-primary mt-3">Update Address</button>
    </form>
</div>
{% endblock %}
